@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, greenyellow, dodgerblue);
    font-family: "Sansita Swashed", cursive;
}
.center{
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
}
.center h1{
    font-size: 2em;
    border-left: 5px solid dodgerblue;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
}
.calculation .inputbox{
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
}
.calculation .inputbox input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}
.calculation .inputbox select{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}
.calculation .inputbox:last-child{
    margin-bottom: 0;
}
.calculation .inputbox span{
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
}
.calculation .inputbox input:focus ~ span,
.calculation .inputbox input:valid ~ span{
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}
.calculation .inputbox [type="button"] {
    width: 50%;
    background: dodgerblue;
    color: #fff;
    border: #fff;
}
.calculation .inputbox:hover [type="button"] {
    background: linear-gradient(45deg, greenyellow, dodgerblue);
}
.result{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    height: 100%;
}
.history_wrapper{
    width: 300px;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}
.history_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.history_item p {
    padding: 5px;
}
.history_item button{
    margin: 0 10px;
    color: dodgerblue;
    padding: 3px;
    font-size: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
